.containerStyle {
  height: 100vh;
  margin: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  box-shadow: 0px 3px 10px 10px lightgrey;
  background-color: rgb(365, 365, 25, 0.2);
  }